body {
   background-color: #bbccdd;
   margin: 0px;
   padding: 0px;
   }

#header {
   position: relative;
   width: 750px;
   left: 50%;
   margin-top: 10px;
   margin-left: -375px;
   border: 1px solid #667788;
   border-bottom: none;
   padding: 2px 10px 2px 10px;
   background-color: #778899;  color: #bbccdd;
   voice-family: "\"}\""; 
   voice-family: inherit;
   width: 728px;
   }

#headerimg {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: 180px;
}

#menu {
   text-align: center;
   position: relative;
   width: 750px;
   left: 50%;
   margin-left: -375px;
   border: 1px solid #667788;
   padding: 2px 10px 2px 10px;
   background-color: #aabbcc;
   voice-family: "\"}\""; 
   voice-family: inherit;
   width: 728px;
   }

#content {
   position: relative;
   width: 750px;
   left: 50%;
   margin: 0px;
   margin-left: -375px;
   border: 1px solid #667788;
   border-width: 0px 1px 0px 1px;
   padding: 10px 10px 10px 10px;
   background-color: #fffafa;
   voice-family: "\"}\""; 
   voice-family: inherit;
   width: 728px;
   }

#footer {
   text-align: center;
   position: relative;
   width: 750px;
   left: 50%;
   margin-left: -375px;
   border: 1px solid #667788;
   padding: 2px 10px 2px 10px;
   background-color: #aabbcc;
   voice-family: "\"}\""; 
   voice-family: inherit;
   width: 728px;
   }

.announcement {
   border: 1px solid #667788;
   margin: 0px 0px 14px 0px;
   padding: 10px;
   background-color: #dddddd;
}

#control {
   text-align: center;
   padding-top: 20px;
   }

#footer p {
   margin: 0px;
   }

#menu a {
   color: #000000;
   text-decoration: none;
   width: auto;
   padding-left: 7px;
   padding-right: 7px;
   float: left;
   }

#menu a:hover {
   background-color: #bbccdd
   }

.messageboarditem {
   border: 1px solid black;
   padding: 2px 10px 2px 10px;
   margin: 0px 80px 10px 80px;
   background-color: #f8f8ff;
   }

.messageboardaddbox {
   border: 1px solid black;
   padding: 2px 10px 2px 10px;
   margin: 0px 80px 2.0em 80px;
   background-color: #f8f8f8;
   }



label {
   font-size: 0.8em;
   }

textarea {
   margin: 0px;
   padding: 0px;
   }

input {
   margin: 0px;
   padding: 0px;
   border: 1px solid #8899aa;  background-color: #fffafa;
   font-size: 0.8em;
   }

form {
   margin: 0px;
   padding: 0px;
   }

select {
   border: 1px solid #8899aa;
   background-color: #fffafa;  margin: 0px;
   padding: 0px;
   font-size: 0.8em;
   }

p.picture {
   text-align: center;
   font-size: 0.8em;
   }

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */


/*

test code for popup menus

ul {padding: 0; margin: 0;}
ul li {list-style-type: none; margin: 0; padding: 0; display: block; position: relative; float: left;}
ul ul {display: none;background-color: #eee; border: 1px solid #666}
ul ul li {float: none;}
ul li:hover > ul {display: block; position: absolute;}
li a {display: block; margin: 0; padding: 2px; color: blue; background-color: #eee;}

*/