body {background-color: #bcf;}

p, h1, h2, h3, h4, h5, h6, h7 {color: #333;}
a {color: #000066;}
a:visited {color: #330033;}

div#header {border-color: #459; background-color: #56a;}
div#header h1{color: #99aaee;}

div#menu {border-color: #459; background-color: #89d;}
#menu a {background-color: inherit; border-color: #459;  color: #333;}
#menu a:hover {background-color: #abf;}
#menu a#current {background-color: inherit;}

div#content {border-color: #459; background-color: #fffafa;}

div#footer {border-color: #459; background-color: #89d;}

div#control {border-color: #459; background-color: inherit;}

div.error{border-color: #f00; background-color: #ccc;}