div {padding: 1.0em 10px 0 10px; margin: 0 0 1.0em 0;}

div#container {position: relative; margin: 0 0 0 -375px; width: 750px; left: 50%; padding: 0;}

div#header {border-style: solid; border-width: 1px; margin-bottom: 0; height: 60px; padding: 10px;}
div#header h1 {margin: 20px 0 0 0; padding: 0px;}

div#content {border-style: solid; border-width: 1px; margin-bottom: 0;}

div#menu {border-style: solid; border-width: 0 1px 0 1px; margin-bottom: 0;}

div#footer {border-style: solid; border-width: 0 1px 1px 1px; padding: 2px 10px 2px 10px;}
div#footer p{margin: 0; padding: 0; text-align: center;}

div#control {padding: 2px 10px 2px 10px;}
div#control p{margin: 0; padding: 0; text-align: center; font-size: 0.8em;}

div.error {border-style: solid; border-width: 1px; }

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */