#menu {padding: 2px 10px 2px 10px; border-style: solid; border-width: 0px 1px 0px 1px;}
#menu a {width: auto; padding-left: 7px; padding-right: 7px; float: left; text-decoration: none;}
#menu a#current {font-weight: bold;}