body {
   font-size: 12pt;
   font-family: times new roman, serif;
   font-color: #000000;
   line-height: 1.5em;
   }

a {
   color: #330099;
   margin: 0px;
   padding: 0px;
   }

a:visited {
   color: #660066;
   }

a:hover {
   color: #000000;
   }

img {
   border-style: none;
   margin: 0;
   padding: 0;
   margin-left: auto;
   margin-right: auto; 
   }

.nocsstext {
   display: none;
   }

table {
   align: center;
   border-style: solid;
   border-color: #888888;
   border-width: 2px;
   font-size: 1em;
   border-collapse: collapse;
   margin-bottom: 25px;
   }

th {
   padding: 3px;
   border: 1px solid #888888;
   text-align: center;
   text-decoration: none;
   font-size: 1em;
   font-weight: bold;
   background-color: #f8f8ff;
   }

td {
   padding: 3px;
   border: 1px solid #888888;
   text-align: left;
   text-decoration: none;
   font-size: 1em;
   }

p {
   font-size: 1.0em;
   margin: 0em 0em 2.0em 0em;
   }

h1 {
   font-size: 1.8em;
   margin: 1.0em 0em 1.0em 0em;
   font-weight: bold;
   }

h2 {
   font-size: 1.5em;
   margin: 1.0em 0em 1.0em 0em;
   font-weight: bold;
   }

h3 {
   font-size: 1.2em;
   margin: 1.0em 0em 1.0em 0em;
   font-weight: bold;
   }

h4, h5, h6 {
   font-size: 1.0em;
   margin: 0.6em 0em 0.3em 0em;
   font-weight: bold;
   }

.caption {
   text-align: center;
   font-size: 0.8em;
   }