body {
  background-color: #111;
}

div.page {
  width: 700px;
  margin: 10px auto;
  background-color: #ccc;
}

div.header {
  background-color: #666;
  height: 96px;
  padding: 2px 10px;
  background-image: url('../images/site/isj-header.png');
}

div.header h1 {
  text-align: center;
  padding-top: 10px;
  display: none;
}

div.menu {
  border-bottom: 2px solid #666;
  overflow: auto;
  padding: 10px 0 0 10px;
  line-height: normal;
}

div.menu a {
  background: #999 url(../images/site/999-ccc-top-left.gif) no-repeat scroll left top;
  padding: 0 0 0 10px;
  display: block;
  float: left;
  overflow: auto;
  margin-right: 5px;
  text-decoration: none;
  color: #000;
}

div.menu a span {
  display: block;
  padding: 2px 10px 1px 0;
  background: #999 url(../images/site/999-ccc-top-right.gif) no-repeat scroll right top;
}

div.menu a.selected {
  background: #666 url(../images/site/666-ccc-top-left.gif) no-repeat scroll left top;
  font-weight: bold;
  color: #fff;
}

div.menu a.selected span {
  background: #666 url(../images/site/666-ccc-top-right.gif) no-repeat scroll right top;
}

div.main {
  position: relative;
  float: left;
  width: 680px;
  margin: 0 10px;
  display: inline;
}

div.content {
  background-color: #fff;
  padding: 10px;
}

div.footer {
  overflow: auto;
  clear: both;
  background: #999 url(../images/site/bl.png) no-repeat scroll left bottom;
  text-align: center;
  padding: 0 0 0 10px;
}

div.footer span {
  display: block;
  padding: 5px 10px 5px 0;
  background: #999 url(../images/site/br.png) no-repeat scroll right bottom;
}

div.footer p {
  margin: 0; padding: 0;
}

div.control {
  width: 800px;
  text-align: center;
  font-size: 0.8em;
  margin: 0 auto;
  color: #666;
}

/****************************/


div.message {
  padding: 10px;
  margin: 0 0 1.0em;
  background-color: #f68;
}

div.photo {
  margin: 0 0 1.0em;
  text-align: center;
}

div.photo img {
  margin: 0; padding: 0;
}

div.photo p {
  margin: 0; padding: 10px 0 0;
}

div.albumsummary {
  background-color: #ddd;
  padding: 10px;
  margin: 0 0 1.0em;
}

div.albumsummary img {
  margin-right: 10px;
}

div.albumsummary h3 {
  margin: 0; padding: 0 0 10px;
}

div.albumsummary p {
  margin: 0; padding: 10px 0 0;
}

div.newsitem, div.comment, div.faq {
  background-color: #ddd;
  padding: 10px;
  margin: 0 0 1.0em;
}

div.newsitem h3, div.comment h3, div.faq h3 {
  margin: 0; padding: 0 0 10px;
}

div.newsitem p, div.comment p, div.faq p {
  margin: 0 0 1em; padding: 0;
}

img.selected {
  border: 2px solid #333;
}
